*{
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 72px;


}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-self: center; 

    width: 100%;
}

.nav__links li {
    font-size: 18px;
    line-height: 21px;
    list-style-type: none;
    text-decoration: none;
    margin: 0 64px 0 64px;
    color: #ffff;

}

.nav__links li:nth-child(1) { 
    width: 199px;
    height: 44px;
    background-color: #5A5A5A;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px dashed #C7C7C7;
}

.nav__links li:nth-child(2) { 
    width: 161px;
    height: 39px;
    background-color: #E75626;

    display: flex;
    justify-content: center;
    align-items: center;

    border:none;
    border-radius: 30px;

    padding: 10px, 24px, 7px, 24px;

    cursor: pointer;
}

.content {
    margin-top: 188px;
    z-index: 1;
    background-color: transparent;
}

.content p{
   font-size: 120px;
   line-height: 144px;
   background-color: transparent;
   color: #FFFF;
   mix-blend-mode: darken;

}


.content p > span{
    color: #171719;
    text-shadow: -1px 0 #FFFF, 0 1px #FFFF, 1px 0 #FFFF, 0 -1px #FFFF;
    background-color: transparent;

}

.descr {
    margin-left: 83px;
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 19.2px;
    color: #FFFF;

    width: 421px;
    height: 95px;

}
.container {
    display: flex;
    justify-content: space-around;  
}

.roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 205px;
    gap: 42px;
    z-index: 3;

    background-color: transparent;
}

.roadmap h3{
    font-size: 32px;
    color: #FFFFFF;
    background-color: transparent;

}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    

}
.stats h4 {
    font-size: 28px;
    line-height: 33px;
    background-color: transparent;

    color: #E75626;

}
.stats p {
    font-size: 18px;
    line-height: 21px;
    color: #FFFF;
    background-color: transparent;

    margin-top: 12px;
    margin-bottom: 8px;
}

.br {
    width: 199px;
    height: 1px;
    background-color: #D2C4C4;
}

.planet__container {
    position: absolute;
    width: 532px;
    height: 532px;
    left: 654px;
    top: 104px;
    border-radius: 100%;

    z-index: 0;
    background: #212124;
}

.planet__container_2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 526px;
    height: 526px;

    border-radius: 100%;

    background: #171719;
    /* filter: blur(11px); */
}

.planet__container_3 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 446px;
    height: 446px;

    border-radius: 100%;

    background: #1E1E20;
}

.planet__container_4 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 384px;
    height: 384px;

    border-radius: 100%;
    border: 1px solid #323232;
    background: #323232;
}
.planet__container_5 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 370px;

    border-radius: 100%;
    border: 1px solid #323232;
    background: #323232;
}
.planet__container_img {
    width: 320px;
    height: 322px;
    filter: blur(0px);
    
    color: yellow;
    border-radius: 100%;
}

.planet__container_img img {
    width: 320px;
    height: 322px;
    filter: blur(0px);
    border-radius: 100%;
}

/* Registarion block  */

.cont { 
    margin-left: 64px;
    margin-top: 60px;
    height: 697px;
}

.cont__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    margin-top: 48px;
    margin-bottom: 36px;

    width: 421px;
    height: 95px;
}

.cont__content h3{

    font-size: 36px;
    line-height: 43.2px;
    color: #E75626;
    
}
.cont__content p{

    width: 100%;
    color: #FFFF;

    font-size: 16px;
    line-height: 19.2px;

}
.cont__registr {
    margin-top: 72px;
}

.cont__registr form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 24px;

}
.cont__regist_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.cont__regist_name label {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color:#FFFFFF
}
.cont__regist_name input { 
    width: 100%;
    border: 1px solid #FFFF;
    padding: 12px 120px 12px 18px;
    color: #FFFFFF;

    border-radius: 30px;
}

.cont__regist_email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.cont__regist_email label {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color:#FFFFFF
}
.cont__regist_email input { 
    width: 100%;
    border: 1px solid #FFFF;
    padding: 12px 120px 12px 18px;
    color: #FFFFFF;

    border-radius: 30px;
}

.cont__registr form button {
    width: 148px;
    height: 38px;
    background-color: #E75626;
    color: #FFFF;
    font-size: 18px;
    line-height: 21.6px;

    display: flex;
    justify-content: center;
    align-items: center;

    border:none;
    border-radius: 30px;

    cursor: pointer;

    padding: 10px, 24px, 7px, 24px;
}

 /* Table location */

 .cont_regis { 
    display: flex;
    justify-content: space-between;
 }

 .table {
    border-collapse: collapse;
    width: 668px;
    color: #ffff;
    table-layout: fixed;
  }
  
  .table th,
  .table tr,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
  }

  .table tbody > tr {
    height: 50px;
  }
  .table tbody > tr > td {
    height: 50px;
  }
  

.table-wrapper{
    margin: 10px 70px 70px;
    width: 668px;
    height: 590px;
}

.fl-table {
    border-radius: 5px;
    font-size: 24px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: transparent;
}

.fl-table td, .fl-table th {
    text-align: start;
}
.fl-table th { 
    padding-bottom: 16px;
}

.fl-table td {
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;

    padding : 16px 0px 16px 0px;

    font-size: 14px;
    line-height: 18px;
    color: #FFFF;
}

.fl-table thead th {
    color: #ffffff;
    background: transparent;
}
